{%extends 'base.html'%}

{%block title%}Contrato{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid lista">
  
    <div class="title-header">
      <h2>Contratos</h2>
    </div>
    
    {% include 'msg_sucesso.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 lista-content">
      <div class="card">
        <form action="" method="post">
          {% csrf_token %}
          <div class="header">
            <h2>
              ITENS DE CONTRATO CADASTRADOS
            </h2>
              <div class="header-btn">
                <a href="{% url 'cadastro:additemmedview' %}" class="btn btn-success popup" title="Adicionar Item Contrato"><i class="material-icons">&#xE148;</i><span> ADICIONAR</span></a>
                <a href="{% url 'cadastro:importar_csv_itembm' %}" class="btn btn-primary popup" title="Importar Item Contrato"><i class="material-icons">&#xE148;</i><span> IMPORTAR (CSV)</span></a>
                <button class="btn btn-red btn-remove"><i class="material-icons">&#xE872;</i></button>
              </div>
          </div>

          <div class="body">

           {% include 'search.html' %}

           <div class="table-responsive">
            <table id="lista-database" class="table table-bordered table-striped lista-table">
              <thead>
                <tr>                  
                  <th>Código </th>
                  <th>Contrato</th>
                  <th>Disciplina</th>
                  <th>Descrição</th>
                  <th>UND</th>
                  <th>Preço</th>
                  <th>Obs.</th>
                  <th>Remover</th>
                </tr>
              </thead>
          
              <tbody>
               {% if all_itensmed %}
               {% for item in all_itensmed %}
               <tr class="clickable-row popup" href="{% url 'cadastro:editaritemmedview' item.id %}">
                <td>{{item.item_ref}}</td>
                <td>{{item.contrato}}</td>
                <td>{{item.disciplina}}</td>
                <td>{{item.descricao}}</td>
                <td>{{item.unidade}}</td>
                <td>{{item.preco_item}}</td>
                <td>{{item.obs}}</td>
                <td class="lista-remove">
                  <input type="checkbox" name="{{item.id}}" id="remover-entrada-{{item.id}}"/>
                  <label class="remove-entry-label" for="remover-entrada-{{item.id}}"></label>
                </td>
              </tr>
              {% endfor %}
              {%else%}
              {%endif%}
            </tbody>
          </table>
          
          </div>
          <div class="pagination" style="margin-left: 10px;">
            {% if page_obj.has_previous %}     
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a></li>            
            {% endif %}
      
            {% for pg in page_obj.paginator.page_range %}
              <!-- Sempre mostra as 3 primeiras e 3 últimas páginas -->
              {% if pg == 1 or pg == 2 or pg == 3 or pg == page_obj.paginator.num_pages or pg == page_obj.paginator.num_pages|add:'-1' or pg == page_obj.paginator.num_pages|add:'-2' %}
                <li class="page-item"><a class="page-link" href="?page={{ pg }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ pg }}</a></li>
              {% else %}
                {% if page_obj.number == pg %}
                  <li class="page-item active"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
                {% elif pg > page_obj.number|add:'-4' and pg < page_obj.number|add:'4' %}
                  <!-- Mostra 3 páginas antes e 3 páginas depois da atual -->
                  <li class="page-item"><a class="page-link" href="?page={{ pg }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ pg }}</a></li>
                {% elif pg == page_obj.number|add:'-4' or pg == page_obj.number|add:'4' %}
                  <li class="page-item"><a class="page-link" href="">...</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
      
            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">&raquo;</a></li>
            {% endif %}
          </div>
      </div>
      

    </form>

  </div>
</div>

</div>
</section>


{%endblock%}