{%extends 'base.html'%}

{%block title%}Página Inicial{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid">
   <div class="block-header">
    <h2>INFORMAÇÕES</h2>
    <small>Informações do sistema para o dia {{data_atual}}, <b>atualize esta página diariamente.</b></small>
  </div>
  <div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="card inicial-card">
       <div class="header">
         <h2><i class="material-icons">&#xE85D;</i>PRESENÇAS DIÁRIAS ({{data_atual}})</h2>
         <div>
           <small>Efetivo geral</small>
         </div>
       </div>
       <div class="body">
         <table class="table table-hover">
           <tbody>
            {% if perms.efetivo.view_apontamento %}
            <tr style="background-color: lightgreen;">
              <td> 
                <a href="#">
                  <div style="height:100%;width:100%;">
                    Presenças ANDAIME<b> {{quantidades_query.colaboradores_andaime}}</b> 
                  </div>
                </a>              
              </td>
            </tr> 
          
            <tr style="background-color: lightcoral;">
              <td> 
                <a href="#">
                  <div style="height:100%;width:100%;">
                    Presenças PINTURA <b> {{quantidades_query.colaboradores_pintura}}</b> 
                  </div>
                </a>              
              </td>
            </tr> 
           
            <tr style="background-color: lightyellow;">
              <td> 
                <a href="#">
                  <div style="height:100%;width:100%;">
                    Presenças ISOLAMENTO <b> {{quantidades_query.colaboradores_isolamento}}</b> 
                  </div>
                </a>              
              </td>
            </tr> 
            {% endif %}

          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card inicial-card">
     <div class="header">
      <h2><i class="material-icons">&#xE8DF;</i>GRÁFICO</h2>
    </div>
    <div class="body">
      <div>
        <img src="{{ graph_img }}" width="100%" alt="Gráfico de Linha">
    </div>
    </div>

  </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="card inicial-card">
   <div class="header">
    <h2><i class="material-icons" style="color:#c2c240;">&#xE85A;</i>ALERTAS ({{data_atual}})</h2>
  </div>
  <div class="body">
    <table class="table table-hover">
      <tbody>
        {% if perms.efetivo.view_apontamento %}
        <tr class="alertas">
          <td> 
            <a href="#">
              <div style="height:100%;width:100%;">
                <b>{{alertas.contas_receber_atrasadas}}</b> Personalizar
              </div>
            </a>              
          </td>
        </tr> 
        <tr {% if alertas.contas_pagar_atrasadas %}class="alerta"{% endif %}>
          <td> 
            <a href="#">
              <div style="height:100%;width:100%;">
                <b>{{alertas.contas_pagar_atrasadas}}</b> Personalizar
              </div>
            </a>              
          </td>
        </tr> 
        {% endif %}
      </tbody>
    </table>
  </div>

</div>
</div>

</div>


{% if perms.efetivo.view_apontamento %}
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
          EFETIVO DO DIA<b style="padding-left:4px;">(DIA {{data_atual}})</b>
        </h2>
        <div class="header-btn">
          <a href="{% url 'efetivo:listaapontamentoview' %}" class="btn btn-primary"><i class="material-icons">&#xE8A0;</i><span> DETALHES APONTAMENTOS</span></a>
        </div>
      </div>

      <div class="body lista">
        <table class="table table-bordered lista-table">
          <thead>
            <tr>
              <th>Data</th>
              <th>Lançamentos</th>
              <th>Presenças</th>
              <th>Faltas</th>
              <th>Férias</th>
             
            </tr>
          </thead>

          <tbody>
           
            <tr>
              <td>{{data_atual}}</td>
              <td>{{quantidades_query.lancamentos_do_dia}}</td>
              <td style="background-color:#b3e5b3;font-weight:bold;">{{quantidades_query.colaboradores_presentes_hoje}}</td>
              <td style="background-color:#f1b1b1;font-weight:bold;" >{{quantidades_query.colaboradores_faltas_hoje}}</td>
              <td>{{quantidades_query.colaboradores_ferias_hoje}}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

</div>
</section>


{%endblock%}